    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    
    header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    }
    
    nav ul {
    list-style: none;
    padding: 0;
    }
    
    nav ul li {
    display: inline;
    margin: 0 10px;
    }
    
    nav ul li a {
    color: #fff;
    text-decoration: none;
    }
    
    main {
    padding: 20px;
    }
    
    section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    
    info-container {
    position: relative;
    }
    
    info-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    }
    
    info-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    }
    
    info-button:hover {
    background-color: #0056b3;
    }
    
    footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
    }
    
    form {
    display: flex;
    flex-direction: column;
    }
    
    form label {
    margin: 10px 0 5px;
    }
    
    form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    }
    
    form button:hover {
    background-color: #0056b3;
    }
    
    .mensaje-exito {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
        border-radius: 5px;
        padding: 15px;
        margin: 20px 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        text-align: center;
    }
    